<div id="lobipanel" class="padding-20">
    <div class="row">
        <div class="col-sm-6">
            <lobipanel data-heading="Panel title 1"></lobipanel>
            <lobipanel data-heading="Panel title 2"></lobipanel>
            <lobipanel data-heading="Panel title 3"></lobipanel>
            <lobipanel data-heading="Panel title 4"></lobipanel>
        </div>
        <div class="col-sm-6">
            <lobipanel data-heading="Panel title 5"></lobipanel>
            <lobipanel data-heading="Panel title 6"></lobipanel>
            <lobipanel data-heading="Panel title 7"></lobipanel>
            <lobipanel data-heading="Panel title 8"></lobipanel>
        </div>
    </div>
</div>
