<ul class="list-group chats">

    <li ng-if="vm.searched != ''" class="list-group-item chat-item" ng-repeat="chat in vm.chats | filter: {name: vm.searched}"
        ng-click="vm.openChat(chat.id, chat)" ng-class="{'selected':vm.selected === chat}">

        <span class="chat-unread badge" ng-hide="chat.unread== null">{{chat.unread}}</span>

        <span class="chat-image" ng-repeat="member in chat.members" uib-tooltip="{{vm.users[member].username}}" tooltip-placement="right">

                            <span class="chat-member-status status-{{vm.users[member].status}}"></span>

                            <img ng-src="{{vm.users[member].thumb}}">

            </span>

        <span class=chat-name">{{chat.name}}</span>

    </li>

    <li ng-if="vm.searched == ''" class="list-group-item chat-item" ng-repeat="chat in vm.chats"
        ng-click="vm.openChat(chat.id, chat)" ng-class="{'selected':vm.selected === chat}">

        <span class="chat-unread badge" ng-hide="chat.unread== null">{{chat.unread}}</span>

        <span class="chat-image" ng-repeat="member in chat.members" uib-tooltip="{{vm.users[member].username}}" tooltip-placement="right">

                            <span class="chat-member-status status-{{vm.users[member].status}}"></span>

                            <img ng-src="{{vm.users[member].thumb}}">

            </span>

        <span class=chat-name">{{chat.name}}</span>

    </li>
</ul>
