<ul class="list-group users">

  <li class="list-group-item user-item"
      ng-repeat="user in vm.usersArray | filter:  vm.searched !== '' ? {username: vm.searched} : {}"
      ng-click="vm.openChat(user.chatId, user)" ng-class="{'selected':vm.selected === user}">

    <span class="user-unread badge" ng-hide="user.unread== null">{{user.unread}}</span>

    <div class="user-image">

      <span class="user-status status-{{user.status}}"></span>

      <img ng-src="{{user.thumb}}">

    </div>

    <span class="user-name">{{user.username}}</span>

  </li>

</ul>
