<div class="grid-view">
    <div class="files row">
        <div ng-repeat="file in vm.files | orderBy:orderByField:vm.defaultSort"
             context-menu="vm.menuOptions" class="col-sm-4 col-md-3" uib-tooltip="Right Click for options" tooltip-placement="bottom" tooltip-popup-delay="1500">
            <div ng-click="vm.selectFile(file)"
                 ng-right-click="vm.selectFile(file); vm.checkFileType(file)"
                 ng-class="{'active': vm.selectedFile == file}" class="thumbnail">
                <!--<img src="..." alt="...">-->
                <i class="fa fa-{{file.type | typeToIcon}}" aria-hidden="true"></i>
                <div class="caption">
                    <h3>{{file.name}}</h3>
                    <p>{{file.size | bytes}}</p>
                    <p>{{file.type}}</p>
                 </div>
            </div>
        </div>
    </div>
</div>