#fileManager {
  .grid-view {
    padding: 0 16px;
    .files{
      .thumbnail{
        text-align: center;
        > i {
          font-size: 72px;
        }
        .caption{
          padding: 0;
        }
      }
    }
  }
}