<table class="files table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
        <th ng-click="orderByField='name'; vm.defaultSort = !vm.defaultSort">
            {{'FILE_MANAGER.VIEW.NAME' | translate}}
            <span ng-show="orderByField == 'name'">
                                <span ng-show="!vm.defaultSort">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                </span>
                                <span ng-show="vm.defaultSort">
                                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                </span>
                            </span>
        </th>
        <th ng-click="orderByField='type'; vm.defaultSort = !vm.defaultSort">
            {{'FILE_MANAGER.VIEW.TYPE' | translate}}
            <span ng-show="orderByField == 'type'">
                                <span ng-show="!vm.defaultSort">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                </span>
                                <span ng-show="vm.defaultSort">
                                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                </span>
                            </span>
        </th>
        <th ng-click="orderByField='owner'; vm.defaultSort = !vm.defaultSort">
            {{'FILE_MANAGER.VIEW.OWNER' | translate}}
            <span ng-show="orderByField == 'owner'">
                                <span ng-show="!vm.defaultSort">
                                    <i
                                            class="fa fa-sort-asc" aria-hidden="true"></i>
                                </span>
                                <span ng-show="vm.defaultSort">
                                    <i
                                            class="fa fa-sort-desc" aria-hidden="true"></i>
                                </span>
                            </span>
        </th>
        <th ng-click="orderByField='size'; vm.defaultSort = !vm.defaultSort">
            {{'FILE_MANAGER.VIEW.SIZE' | translate}}
            <span ng-show="orderByField == 'size'">
                                <span ng-show="!vm.defaultSort">
                                    <i
                                            class="fa fa-sort-asc" aria-hidden="true"></i>
                                </span>
                                <span ng-show="vm.defaultSort">
                                    <i
                                            class="fa fa-sort-desc" aria-hidden="true"></i>
                                </span>
                            </span>
        </th>
        <th ng-click="orderByField='date'; vm.defaultSort = !vm.defaultSort">
            {{'FILE_MANAGER.VIEW.LAST_MODIFIED' | translate}}
            <span ng-show="orderByField == 'date'">
                                <span ng-show="!vm.defaultSort">
                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                </span>
                                <span ng-show="vm.defaultSort">
                                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                </span>
                            </span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="file in vm.displayData | orderBy:orderByField:vm.defaultSort"
        ng-click="vm.selectFile(file)"
        ng-right-click="vm.selectFile(file); vm.checkFileType(file)"
        context-menu="vm.menuOptions" ng-class="{'active': file == vm.selectedFile}">
        <td><i class='fa fa-{{file.type | typeToIcon}}' aria-hidden='true'></i></td>
        <td>{{file.name}}</td>
        <td>{{file.type}}</td>
        <td>{{file.owner}}</td>
        <td>{{file.size | bytes}}</td>
        <td>{{file.date | date:'HH:mm, dd/MM/yyyy'}}</td>
    </tr>
    </tbody>
</table>