<a class="navbar-brand" href="javascript:void(0)">
  <div class="navbar-brand-img"></div>
  <img src="assets/images/logo/lobiadmin-logo-text-white-32.png" class="hidden-xs" alt=""/>
</a>
<!--Menu show/hide toggle button-->
<ul class="nav navbar-nav pull-left show-hide-menu">
  <li>
    <lobi-menu-toggle></lobi-menu-toggle>
  </li>
</ul>
<form class="navbar-search pull-left">
  <label for="search" class="sr-only">{{'APP.TOOLBAR.SEARCH' | translate}}</label>
  <input type="text" class="font-size-lg" name="search" id="search" placeholder="{{'APP.TOOLBAR.SEARCH' | translate}}">
  <a class="btn btn-search">
    <span class="glyphicon glyphicon-search"></span>
  </a>
  <a class="btn btn-remove">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</form>
<div class="navbar-items">
  <!--User avatar dropdown-->
  <ul class="nav navbar-nav navbar-right user-actions">
    <li uib-dropdown class="dropdown">
      <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
        <img class="user-avatar img-circle" ng-src="{{$root.user.getAvatar()}}" alt="..."/>
        {{$root.user.getDisplayName()}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li><a href="#profile"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;{{'APP.TOOLBAR.PROFILE' | translate}}</a></li>
        <li><a href="#timeline"><i class="fa fa-code-fork"></i> &nbsp;&nbsp;{{'APP.TOOLBAR.TIMELINE' | translate}}</a></li>
        <li><a href="#lobimail"><span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;{{'APP.TOOLBAR.MESSAGES' | translate}}</a></li>
        <li class="divider"></li>
        <li><a href="lock.html"><span class="glyphicon glyphicon-lock"></span> &nbsp;&nbsp;{{'APP.TOOLBAR.LOCK_SCREEN' | translate}}</a></li>
        <li><a href="login.html"><span class="glyphicon glyphicon-off"></span> &nbsp;&nbsp;{{'APP.TOOLBAR.LOG_OUT' | translate}}</a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="clearfix-xxs"></div>
<div class="navbar-items-2">
  <!--Choose languages dropdown-->
  <ul class="nav navbar-nav">
    <li uib-dropdown class="dropdown">
      <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
        <img src="assets/images/flags/{{vm.selectedLanguage.code}}.png" alt="en"/>
        <span class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block">{{vm.selectedLanguage.title}}</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="language in vm.languages">
          <a ng-click="vm.changeLanguage(language)">
            <img src="assets/images/flags/{{language.code}}.png" alt="language.code"/>
            {{language.title}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-actions">
    <li class="visible-lg" >
      <a href="#" data-action="fullscreen">
        <span class="glyphicon glyphicon-fullscreen"></span>
      </a>
    </li>
    <li uib-dropdown class="dropdown">
      <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-envelope"></span>
        <span class="badge badge-danger badge-xs">3</span>
      </a>
      <div class="dropdown-menu dropdown-notifications notification-messages border-1 animated-fast flipInX" uib-dropdown-menu>
        <div class="notifications-heading border-bottom-1 bg-white">
          {{'APP.TOOLBAR.MESSAGES' | translate}}
          <div class="header-actions pull-right">
            <a href="#lobimail" data-action="compose-email">
              <small><i class="fa fa-edit"></i> {{'APP.TOOLBAR.CREATE_NEW' | translate}}</small>
            </a>
          </div>
        </div>
        <ul class="notifications-body max-h-300">
          <li class="unread">
            <a href="#lobimail" data-action="open-email" data-key="1" class="notification">
              <img class="notification-image" src="assets/images/users/1.jpg" alt="">
              <div class="notification-msg">
                <h4 class="notification-heading">George Darso</h4>
                <h5 class="notification-sub-heading">Happy birthday!!</h5>
                <p class="body-text">Happy birthday. Lorem ipsum dolor sit amor.</p>
              </div>
              <span class="notification-time">5 {{'APP.GLOBAL.MIN' | translate}}. {{'APP.GLOBAL.AGO' | translate}}</span>
            </a>
          </li>
          <li class="unread">
            <a href="#lobimail" data-action="open-email" data-key="2" class="notification">
              <img class="notification-image" src="assets/images/users/2.jpg" alt="">
              <div class="notification-msg">
                <h4 class="notification-heading">George Dava</h4>
                <h5 class="notification-sub-heading">Lorem ipsum dolor sit amor.</h5>
                <p class="body-text">Whirling indicating staunch pglaf, leafy siroc clerks paying eager promoting storm
                  aliquet treasures.</p>
              </div>
              <span class="notification-time">15 {{'APP.GLOBAL.MIN' | translate}}. {{'APP.GLOBAL.AGO' | translate}}</span>
            </a>
          </li>
          <li class="unread">
            <a href="#lobimail" data-action="open-email" data-key="3" class="notification">
              <img class="notification-image" src="assets/images/users/3.jpg" alt="">
              <div class="notification-msg">
                <h4 class="notification-heading">George Darso</h4>
                <h5 class="notification-sub-heading">Lorem ipsum dolor sit amore</h5>
                <p class="body-text">Region doth chaucer, smiled erhung, recording frail cove design train thy holiday
                  committed. Told how fixed parcae tented whistle doom recording deceivers tribe.</p>
              </div>
              <span class="notification-time">1 {{'APP.GLOBAL.HR' | translate}}. {{'APP.GLOBAL.AGO' | translate}}</span>
            </a>
          </li>
          <li>
            <a href="#lobimail" data-action="open-email" data-key="4" class="notification">
              <img class="notification-image" src="assets/images/users/4.jpg" alt="">
              <div class="notification-msg">
                <h4 class="notification-heading">Zura Sekhno</h4>
                <h5 class="notification-sub-heading">This is message subject text</h5>
                <p class="body-text">Garden check we, dearer you sharply, martin cable, square bonfires, freely,
                  delphian scorning copying courage. </p>
              </div>
              <span class="notification-time">17 {{'APP.GLOBAL.HR' | translate}}. {{'APP.GLOBAL.AGO' | translate}}</span>
            </a>
          </li>
          <li>
            <a href="#lobimail" data-action="open-email" data-key="5" class="notification">
              <img class="notification-image" src="assets/images/users/5.jpg" alt="">
              <div class="notification-msg">
                <h4 class="notification-heading">Jane Smth</h4>
                <h5 class="notification-sub-heading">Need support about product</h5>
                <p class="body-text">Essaying unappointed pull disdain, downfall square liberal.</p>
              </div>
              <span class="notification-time">2 {{'APP.GLOBAL.DAYS' | translate}} {{'APP.GLOBAL.AGO' | translate}}</span>
            </a>
          </li>
          <li>
            <a href="#lobimail" data-action="open-email" data-key="6" class="notification">
              <img class="notification-image" src="assets/images/users/1.jpg" alt="">
              <div class="notification-msg">
                <h4 class="notification-heading">Sam Solly</h4>
                <h5 class="notification-sub-heading">Today's meeting</h5>
                <p class="body-text">Paltering kingfisher patience woven his, aeneas self each square surer semper. Self
                  reaped bonfires, gift rounds dearer garden.</p>
              </div>
              <span class="notification-time">{{'APP.GLOBAL.JANUARY' | translate}} 15, 2014</span>
            </a>
          </li>
        </ul>
        <div class="notifications-footer text-center border-top-1 bg-white">
          <a href="#lobimail">{{'APP.TOOLBAR.VIEW_ALL' | translate}}</a>
        </div>
      </div>
    </li>
    <li uib-dropdown class="dropdown">
      <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
        <span class="fa fa-globe"></span>
        <span class="badge badge-danger badge-xs">9</span>
      </a>
      <div class="dropdown-menu dropdown-notifications notification-news border-1 animated-fast flipInX" uib-dropdown-menu>
        <div class="notifications-heading border-bottom-1 bg-white">
          {{'APP.TOOLBAR.NOTIFICATIONS' | translate}}
        </div>
        <ul class="notifications-body max-h-300">
          <li class="unread">
            <div class="notification">
              <img class="notification-image" src="assets/images/users/3.jpg" alt="">
              <div class="notification-msg">
                <h5 class="notification-sub-heading text-gray-darker"><a href="#">Sam Solly</a> {{'APP.TOOLBAR.NOTIFICATIONS_INNER.POSTED_A_COMMENT_ABOUT' | translate}}
                  <a href="#">Programming in HTML5</a></h5>
                <p class="body-text"><i class="fa fa-comment"></i> 6 {{'APP.GLOBAL.HR' | translate}}. {{'APP.GLOBAL.AGO' | translate}}</p>
              </div>
            </div>
          </li>
          <li class="unread">
            <div class="notification friend-request">
              <img class="notification-image" src="assets/images/users/4.jpg" alt="">
              <div class="notification-msg">
                <h4 class="notification-heading"><a href="#">John Doe</a></h4>
                <h5 class="notification-sub-heading text-nowrap">{{'APP.TOOLBAR.NOTIFICATIONS_INNER.FRIEND_REQUEST' | translate}}
                  <a href="#" class="btn btn-info btn-xs btn-response">{{'APP.TOOLBAR.NOTIFICATIONS_INNER.ACCEPT' | translate}}</a>
                  <a href="#" class="btn btn-danger btn-xs btn-response">{{'APP.TOOLBAR.NOTIFICATIONS_INNER.DECLINE' | translate}}</a>
                </h5>
                <p class="body-text"><i class="fa fa-user"></i> 12 {{'APP.GLOBAL.HR' | translate}}. {{'APP.GLOBAL.AGO' | translate}}</p>
              </div>
            </div>
          </li>
          <li class="unread">
            <div class="notification">
              <img class="notification-image" src="assets/images/users/2.jpg" alt="">
              <div class="notification-msg">
                <h5 class="notification-sub-heading"><a href="#">George Darso</a> {{'APP.TOOLBAR.NOTIFICATIONS_INNER.INVITED_YOU_TO_JOIN_THE_CONFERENCE' | translate}}
                </h5>
                <p class="body-text"><i class="fa fa-clock-o"></i> {{'APP.GLOBAL.YESTERDAY' | translate}}</p>
              </div>
              <a href="#" class="link-action">{{'APP.TOOLBAR.NOTIFICATIONS_INNER.VIEW_INVITATION' | translate}}</a>
            </div>
          </li>
          <li>
            <div class="notification">
              <img class="notification-image" src="assets/images/users/1.jpg" alt="">
              <div class="notification-msg">
                <h5 class="notification-sub-heading">
                  <a href="#">Guga Grigo</a> {{'APP.TOOLBAR.NOTIFICATIONS_INNER.LIKES_YOUR_PHOTO' | translate}}
                </h5>
                <p class="body-text"><i class="fa fa-thumbs-up"></i> {{'APP.GLOBAL.TUESDAY' | translate}}</p>
              </div>
              <a href="#"><img src="assets/images/users/me-160.jpg" alt="" class="liked-photo"/></a>
            </div>
          </li>
          <li>
            <div class="notification">
              <div class="notification-icon"><i class="glyphicon glyphicon-user"></i></div>
              <div class="notification-msg">
                <h5 class="notification-sub-heading"><a href="#">Poll Hunely</a> {{'APP.TOOLBAR.NOTIFICATIONS_INNER.HAS_ACCEPTED_YOUR_INVITATION' | translate}}</h5>
                <p class="body-text"><i class="fa fa-check"></i> {{'APP.GLOBAL.YESTERDAY' | translate}}</p>
              </div>
              <a href="#" class="link-action"><i class="fa fa-calendar"></i> {{'APP.TOOLBAR.NOTIFICATIONS_INNER.ADD_TO_CALENDAR' | translate}}</a>
            </div>
          </li>
          <li>
            <div class="notification">
              <div class="notification-icon"><i class="fa fa-users"></i></div>
              <div class="notification-msg">
                <h5 class="notification-sub-heading"><a href="#" data-toggle="tooltip" data-html="true"
                                                        data-title="Mari Abdu<br>Guga Grigo<br>David Sula">3 {{'APP.TOOLBAR.NOTIFICATIONS_INNER.NEW_USERS' | translate}}</a> {{'APP.TOOLBAR.NOTIFICATIONS_INNER.HAS_JUST_SIGNED_UP' | translate}}</h5>
                <p class="body-text"><i class="fa fa-user"></i> {{'APP.GLOBAL.SUNDAY' | translate}}</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="notifications-footer border-top-1 bg-white text-center">
          <a href="#">{{'APP.TOOLBAR.VIEW_ALL' | translate}}</a>
        </div>
      </div>
    </li>
    <li uib-dropdown class="dropdown">
      <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
        <span class="fa fa-tasks"></span>
        <span class="badge badge-danger badge-xs">8</span>
      </a>
      <div class="dropdown-menu dropdown-notifications notification-tasks border-1 animated-fast flipInX" uib-dropdown-menu>
        <div class="notifications-heading border-bottom-1 bg-white">
          {{'APP.TOOLBAR.ACTIVE_TASKS' | translate}}
        </div>
        <ul class="notifications-body max-h-300">
          <li>
            <div class="notification">
              <p class="body-text"><span class="label label-danger">{{'APP.TOOLBAR.CRITICAL' | translate}}</span> Create SASS files <span
                class="pull-right">90%</span></p>
              <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="sr-only">90% Complete</span>
                </div>
              </div>
              <a href="#" data-container="body" data-toggle="tooltip" data-html="true"
                 data-title="Zura Sekhno<br>George darso<br>Guga Grigo">{{'APP.TOOLBAR.WORKING_ON' | translate}}</a>
              <a href="#" class="link-action">{{'APP.TOOLBAR.DETAILS' | translate}}</a>
            </div>
          </li>
          <li>
            <div class="notification">
              <p class="body-text"><span class="label label-warning">{{'APP.TOOLBAR.IMPORTANT' | translate}}</span> Create new login form <span
                class="pull-right">30%</span></p>
              <div class="progress progress-sm">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"><span class="sr-only">30% Complete</span>
                </div>
              </div>
              <a href="#" data-container="body" data-toggle="tooltip" data-html="true"
                 data-title="Zura Sekhno<br>George darso<br>Guga Grigo">{{'APP.TOOLBAR.WORKING_ON' | translate}}</a>
              <a href="#" class="link-action">{{'APP.TOOLBAR.DETAILS' | translate}}</a>
            </div>
          </li>
          <li>
            <div class="notification">
              <p class="body-text"><span class="label label-primary">{{'APP.TOOLBAR.NORMAL' | translate}}</span> Create angularjs version <span
                class="pull-right">10%</span></p>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"><span class="sr-only">10% Complete</span>
                </div>
              </div>
              <a href="#" data-container="body" data-toggle="tooltip" data-html="true"
                 data-title="John Doe<br>Jane Smth">{{'APP.TOOLBAR.WORKING_ON' | translate}}</a>
              <a href="#" class="link-action">{{'APP.TOOLBAR.DETAILS' | translate}}</a>
            </div>
          </li>
          <li>
            <div class="notification">
              <p class="body-text"><span class="label label-warning">{{'APP.TOOLBAR.IMPORTANT' | translate}}</span> Password reset <span
                class="pull-right">50%</span></p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50"
                     aria-valuemin="0" aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Complete</span>
                </div>
              </div>
              <a href="#" data-container="body" data-toggle="tooltip" data-html="true"
                 data-title="Zura Sekhno<br>George darso<br>Guga Grigo">{{'APP.TOOLBAR.WORKING_ON' | translate}}</a>
              <a href="#" class="link-action">{{'APP.TOOLBAR.DETAILS' | translate}}</a>
            </div>
          </li>
          <li>
            <div class="notification">
              <p class="body-text"><span class="label label-danger">{{'APP.TOOLBAR.CRITICAL' | translate}}</span> Hardware repair <span
                class="pull-right fa fa-check text-success"></span></p>
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span
                  class="sr-only">100% Complete</span></div>
              </div>
              <a href="#" data-container="body" data-toggle="tooltip" data-html="true"
                 data-title="John Doe<br>Jane Smth">{{'APP.TOOLBAR.WORKING_ON' | translate}}</a>
              <a href="#" class="link-action">{{'APP.TOOLBAR.DETAILS' | translate}}</a>
            </div>
          </li>
          <li>
            <div class="notification">
              <p class="body-text"><span class="label label-success">{{'APP.TOOLBAR.IMPORTANT' | translate}}</span> Set up new server <span
                class="pull-right fa fa-check text-success"></span></p>
              <div class="progress progress-lg">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span
                  class="sr-only">100% Complete</span></div>
              </div>
              <a href="#" data-container="body" data-toggle="tooltip" data-html="true"
                 data-title="Poll Husaly<br>Akaki Liqo">{{'APP.TOOLBAR.DONE' | translate}}</a>
              <a href="#" class="link-action">{{'APP.TOOLBAR.DETAILS' | translate}}</a>
            </div>
          </li>
        </ul>
        <div class="notifications-footer border-top-1 bg-white text-center">
          <a href="#">{{'APP.TOOLBAR.VIEW_ALL' | translate}}</a>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="clearfix"></div>
