<div class="menu">
  <div class="menu-heading">
    <div class="menu-header-buttons-wrapper clearfix">
      <button type="button" class="btn btn-info btn-menu-header-collapse">
        <i class="fa fa-cogs"></i>
      </button>
      <!--Put your favourite pages here-->
      <div class="menu-header-buttons">
        <a href="#profile" class="btn btn-info btn-outline" uib-tooltip="Profile">
          <i class="fa fa-user"></i>
        </a>
        <a href="#invoice" class="btn btn-info btn-outline" uib-tooltip="Invoice">
          <i class="fa fa-file-pdf-o"></i>
        </a>
        <a href="#lobimail" class="btn btn-info btn-outline" uib-tooltip="Inbox">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="#calendar" class="btn btn-info btn-outline" uib-tooltip="Calendar">
          <i class="fa fa-calendar"></i>
        </a>
      </div>
    </div>
  </div>
  <h4 class="text-center margin-top-10">Menu</h4>
  <nav>
    <ul>
      <li ng-repeat="menuItem in vm.menuItems" ui-sref-active="active" ng-class="{'disabled': menuItem.disabled}">
        <div ng-if="menuItem.group" class="group-item">
          <div class="title">
            <i ng-if="menuItem.icon" class="{{menuItem.icon}} menu-item-icon"></i> {{menuItem.text}}
          </div>
        </div>
        <a ng-if="!menuItem.group" ui-sref="{{menuItem.state}}(vm.getParams(menuItem))">
          <i ng-if="menuItem.icon" class="{{menuItem.icon}} menu-item-icon"></i>
          <span ng-if="menuItem.showIndex === undefined ? vm.showMenuItemIndex : menuItem.showIndex">{{menuItem._index}}. </span>
          <span ng-if="menuItem.badge" class="badge-wrapper">
                        <span class="badge badge-xs badge-cyan">{{menuItem.badge.value}}</span>
                    </span>
          <span class="inner-text">{{menuItem.text}}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="menu-collapse-line">
    <!--Menu collapse/expand icon is put and control from LobiAdmin.js file-->
    <div class="menu-toggle-btn" data-action="collapse-expand-sidebar"></div>
  </div>
</div>
