<div id="chat">
    <div class="top-menu">
        <div class="menu-left text-center">
            <i class="fa fa-cog pull-left chat-settings" aria-hidden="true"></i>
            <span class="chat-title">Chat</span>
            <i class="fa fa-plus pull-right chat-new" aria-hidden="true"></i>
        </div>
        <div class="menu-right text-center">
            <span class="contact-name" ng-repeat="c in vm.openedChat.people" ng-show="vm.openedChat.memberCount == 1">{{c.name}}<span class="contact-last-online">{{c.status}}</span></span>
            <i class="fa fa-info-circle pull-right chat-info" aria-hidden="true"></i>
            <i class="fa fa-trash pull-right chat-delete" aria-hidden="true"></i>
        </div>
    </div>

    <div class="main clearfix">
        <div class="off-canvas__container off-canvas__content clearfix">
            <div class="contacts">
                <ul class="list-group chat-contacts">
                    <li class="list-group-item contact" ng-repeat="chat in vm.chats"
                        ng-click="vm.selectedUser = chat" ng-class="{'selected':vm.selectedUser === chat}">
                        <span class="contact-unread badge" ng-hide="chat.unread== null">{{chat.unread}}</span>
                        <span class="contact-image" ng-repeat="member in chat.members">
                            <span class="contact-status status-{{vm.users[chat.members[0]].status}}"></span>
                            <img ng-src="{{vm.users[member].thumb}}">
                        </span>
                        <span class="contact-name">{{chat.name}}</span>
                    </li>
                </ul>
      </div>
            <div class="messages">
                <div class="chat-content" ng-show="vm.selectedUser != null">
                    <div id="{{message.id}}" class="message"
                         ng-repeat="message in vm.userMessages.$$state.value.data">
                        <div class="row">
                            <div class="left-side col-md-6 clearfix">
                                <img class="message-by pull-left" ng-src="{{vm.users[message.who].thumb}}"
                                     ng-show="message.who != 'me' && vm.userMessages.$$state.value.data[$index-1].who != message.who">
                                <span class="message-by-other pull-left" ng-show="message.who != 'me'"
                                      uib-tooltip="{{message.when | date:'HH:mm, dd/MM/yyyy'}}" tooltip-popup-delay="200" tooltip-placement="right">
                                {{message.what}}
                                </span>
                            </div>

                            <div class="right-side col-md-6 clearfix">
                                <span class="message-by-me pull-right" ng-show="message.who == 'me'"
                                      uib-tooltip="{{message.when  | date:'HH:mm, dd/MM/yyyy'}}" tooltip-popup-delay="200" tooltip-placement="left">
                                    {{message.what}}
                                </span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>