#chat {
  height: 100%;
  position: relative;
  .top-menu {
    height: 50px;
    line-height: 45px;
    width: 100%;
    background-color: @brand-primary;
    .menu {
      display: table;
      &-left {
        width: 250px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        float: left;
        color: white;
        display: table-cell;
        vertical-align: middle;
        .chat-title {
          line-height: 47px;
          font-size: 27px;
        }
        > div {
          display: inline-block;
        }
        .chat-settings, .chat-new {
          line-height: 40px;
          font-size: 20px;
          margin: 5px;
          color: white;
          padding: 0 15px;
        }
      }
      &-right {
        width: calc(%(~"100% - %s", 250px));
        float: right;
        color: white;
        display: table-cell;
        vertical-align: middle;
        line-height: 35px;
        .contact-name {
          margin-left: 5px;
          margin-right: 5px;
          position: relative;
          .contact-last-online {
            position: absolute;
            left: 0;
            right: 0;
            top: 5px;
          }
        }
        > div {
          display: inline-block;
        }
        i {
          line-height: 40px;
          font-size: 20px;
          margin: 5px;
          color: white;
          padding-right: 15px;
        }
      }
    }
  }
  .main {
    width: 100%;
    height: calc(%(~"100% - %s", 100px));
    .contacts {
      width: 250px;
      height: 100%;
      float: left;
      background-color: #fdfdfd;
      overflow-y: auto;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      .chat-contacts {
        .contact {
          border: 0;
          outline: 0;
          height: 50px;
          line-height: 50px;
          padding: 0px 15px;
          &:hover {
            background-color: @gray-lighter;
          }
          .badge {
            margin-top: 15px;
          }
          .contact-image {
            position: relative;
            .contact-status {
              position: absolute;
              height: 10px;
              width: 10px;
              right: 7px;
              top: -7px;
              border: 1px solid white;
              border-radius: 50%;
              &.status-online {
                background-color: #00AA00; //or @brand-success;
              }
              &.status-offline {
                background-color: grey;
              }
              &.status-busy {
                background-color: @brand-danger;
              }
            }
            img {
              width: 34px;
              height: 34px;
              border-radius: 50%;
              margin: -7px 5px -7px -7px;
            }
          }
        }
      }
    }
    .messages {
      width: calc(%(~"100% - %s", 250px));
      height: 100%;
      //overflow-y: auto;
      float: right;
      transition: 0.5s ease;
      padding: 30px 0;
      .chat-content {
        .message {
          margin-bottom: 10px;
          position: relative;
          .message-by {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 20px;
            position: absolute;
          }
          .message-by-other {
            color: white;
            background-color: grey;
            border-radius: 10px;
            padding: 5px 10px;
            margin-left: 65px;
            margin-top: 7.5px;
            min-height: 20px;
          }
          .message-by-me {
            color: white;
            background-color: green;
            border-radius: 10px;
            padding:5px 10px;
            margin-right: 20px;
            margin-top: 7.5px;
            min-height: 20px;
          }
        }
      }
    }
  }
}
