<div id="fileManager">
    <div class="top-menu">
        <div class="menu-left">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span class="path-to-file">My Files &gt; Documents</span>
        </div>
        <div class="menu-right">
            <div>
            <input ng-class="{ 'hidden': ! vm.toggleSearch }" type="text"
                   ng-model="vm.searchValue" ng-change="vm.searchFn(vm.searchValue)">
            <i class="fa fa-search" aria-hidden="true" ng-click="vm.toggleSearch = ! vm.toggleSearch; vm.clearSearchResultsFn();"></i>
            </div>
            <div ng-if="vm.currentView === 'list-condensed'"
                 ng-click="vm.toggleView()">
                <i class="fa fa-th-list" aria-hidden="true"></i>
            </div>
            <div ng-if="vm.currentView === 'grid-view'"
                 ng-click="vm.toggleView()">
                <i class="fa fa-th" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="main clearfix">
        <div class="view">
            <div class="upload-options">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn-upload" ng-click="vm.openFileUpload()">{{'FILE_MANAGER.MENU.UPLOAD_FILE' | translate}}
                        <input onchange="angular.element(this).scope().vm.chooseFiles(this, event)" type="file" multiple=""/>
                    </button>
                    <button type="button" class="btn btn-primary btn-upload" ng-click="vm.openFolderUpload()">{{'FILE_MANAGER.MENU.UPLOAD_FOLDER' | translate}}
                        <input type="file" onchange="angular.element(this).scope().vm.chooseFolder(this, event)" webkitdirectory="" mozdirectory="" msdirectory="" odirectory="" directory="" multiple=""/>
                    </button>
                    <button type="button" class="btn btn-primary btn-upload" ng-click="vm.showCreateFolderDialog()">{{'FILE_MANAGER.MENU.CREATE_FOLDER' | translate}}</button>
                </div>
            </div>
            <div ng-if="vm.currentView === 'grid-view'"
                 ng-include="'app/main/apps/file-manager/view/grid.html'">
            </div>
            <div ng-if="vm.currentView === 'list-condensed'"
                 ng-include="'app/main/apps/file-manager/view/list-condensed.html'">
            </div>
        </div>
        <div class="selected">
            <div class="selected-actions">

            </div>
            <div class="selected-image">
                <i class='fa fa-{{vm.selectedFile.type | typeToIcon}}' aria-hidden='true'></i>
            </div>
            <div class="selected-description" ng-show="vm.selectedFile != null">
                <div class="title">{{vm.selectedFile.name}}</div>
                <table>
                    <tr class="type">
                        <th>{{'FILE_MANAGER.VIEW.TYPE' | translate}}:</th>
                        <td>{{vm.selectedFile.type}}</td>
                    </tr>
                    <tr class="owner">
                        <th>{{'FILE_MANAGER.VIEW.OWNER' | translate}}:</th>
                        <td>{{vm.selectedFile.owner}}</td>
                    </tr>
                    <tr class="size">
                        <th>{{'FILE_MANAGER.VIEW.SIZE' | translate}}:</th>
                        <td>{{vm.selectedFile.size === '' ? '-': vm.selectedFile.size | bytes}}</td>
                    </tr>
                    <tr class="date">
                        <th>{{'FILE_MANAGER.VIEW.LAST_MODIFIED' | translate}}:</th>
                        <td>{{vm.selectedFile.date | date:'HH:mm, dd/MM/yyyy'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
