<div id="fileManager">
    <div class="top-menu">
        <div class="menu-left">
            <button class="btn btn-lg btn-circle btn-primary"
                    ng-click="vm.toggleAside('fileManagerAside')"
                    uib-tooltip="Menu" tooltip-append-to-body=true>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <ol class="breadcrumb">
                <li ng-repeat="crumb in vm.breadcrumbs" id="{{crumb.id}}" class="path-to-file"
                    ng-click="vm.changeDirectory(crumb)">{{crumb.name}}
                </li>
            </ol>
        </div>
        <div class="menu-right">
            <div class="search">
                <input type="text" class="form-control" placeholder="Type a search keyword"
                       ng-class="{ 'hidden': ! toggleSearch }"
                       ng-model="vm.searchValue" ng-change="vm.searchFn(vm.searchValue)">
                <button class="btn btn-lg btn-circle btn-primary"
                        uib-tooltip="Search"
                        tooltip-append-to-body=true
                        ng-click="toggleSearch = ! toggleSearch;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
            <div ng-if="vm.currentView === 'list-condensed'"
                 ng-click="vm.toggleView()">
                <button class="btn btn-lg btn-circle btn-primary" uib-tooltip="Switch to Grid View"
                        tooltip-append-to-body=true>
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                </button>
            </div>
            <div ng-if="vm.currentView === 'grid-view'"
                 ng-click="vm.toggleView()">
                <button class="btn btn-lg btn-circle btn-primary" uib-tooltip="Switch to List View"
                        tooltip-append-to-body=true>
                    <i class="fa fa-th" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="main clearfix">
        <div class="off-canvas__container off-canvas__content clearfix">
            <div ng-include="'app/main/apps/file-manager/aside/file-menu.html'"></div>
            <div class="clearfix h-full">
                <div ng-class="{'is-off-canvas-menu-opened' : vm.isOffCanvasMenuOpened}" class="view">
                    <div class="actions-toolbar display-table w-full">
                        <div class="vertical-align-middle">
                            <div class="btn-toolbar btn-toolbar-info btn-toolbar-pretty">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-upload" ng-click="vm.openFileUpload()">
                                        <i class="fa fa-cloud-upload"></i>
                                        {{'FILE_MANAGER.MENU.UPLOAD_FILE' | translate}}
                                        <input onchange="angular.element(this).scope().vm.chooseFiles(this, event)" type="file"
                                               multiple=""/>
                                    </button>
                                    <button type="button" class="btn btn-upload" ng-click="vm.openFolderUpload()">
                                        <i class="fa fa-upload"></i>
                                        {{'FILE_MANAGER.MENU.UPLOAD_FOLDER' | translate}}
                                        <input type="file" onchange="angular.element(this).scope().vm.chooseFolder(this, event)"
                                               webkitdirectory="" mozdirectory="" msdirectory="" odirectory="" directory=""
                                               multiple=""/>
                                    </button>
                                    <button type="button" class="btn"
                                            ng-click="vm.showCreateFolderDialog()">
                                        <i class="fa fa-edit"></i>
                                        {{'FILE_MANAGER.MENU.CREATE_FOLDER' | translate}}
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn" ng-disabled="!vm.selectedFiles.length"
                                            ng-click="vm.deleteSelectedFolders()">
                                        <i class="fa fa-trash"></i>
                                        {{'FILE_MANAGER.MENU.DELETE' | translate}}
                                    </button>
                                    <button type="button" class="btn" ng-disabled="!vm.selectedFiles.length"
                                            ng-click="vm.downloadSelectedFolders()">
                                        <i class="fa fa-trash"></i>
                                        {{'FILE_MANAGER.MENU.DOWNLOAD' | translate}}
                                    </button>
                                </div>
                                <button id="filteredBy" type="button" class="btn btn-default pull-right"
                                        ng-click="vm.filterListByTag(null)">
                                    {{vm.filterBy}}&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="files-wrapper" ng-if="vm.currentView === 'grid-view'"
                         ng-include="'app/main/apps/file-manager/view/grid.html'">
                    </div>
                    <div class="files-wrapper" ng-if="vm.currentView === 'list-condensed'"
                         ng-include="'app/main/apps/file-manager/view/list-condensed.html'">
                    </div>
                </div>
                <div ng-include="'app/main/apps/file-manager/aside/file-detail.html'"></div>
            </div>
        </div>
    </div>
</div>
