#fileManager{
  .top-menu{
    height:100px;
    width:100%;
    padding:35px;
    background-color:darkslategrey;
    .menu{
      &-left{
        float:left;
        color:white;
        i{
          font-size:20px;
          margin: 5px;
        }
        .path-to-file{
          font-size: 20px;
          margin: 5px 15px;
        }
      }
      &-right{
        float:right;
        color:white;
        user-select: none;
        >div{
          display: inline-block;
        }
        i{
          font-size:20px;
          margin: 5px;
        }
      }
    }
  }
  .main{
    width: 100%;
    .view{
      width: 70%;
      height: 440px;
      overflow-y: auto;
      float: left;
      .files{
        width:100%;
        border:0;
        >thead{
          >tr{
            >th{
              text-align: center;
              outline: 0;
            }
          }
        }
        >tbody{
          >tr{
            outline: 0;
          }
        }
        tr{
          td:first-child{
            font-size:20px;
          }
        }
        td{
          text-align: center;
          vertical-align: middle;
        }
      }
      .context-menu{
        position: absolute;
        .menu{
          list-style-type: none;
          margin:0;
          padding:0;
          width: 150px;
          li{
            height:30px;

          }
        }
      }
    }
    .selected{
      width: 30%;
      height: 440px;
      overflow-y: auto;
      float: right;
      background-color: #fdfdfd;
      .selected-description {
        .title{
          width:100%;
          text-align: center;
        }
        table {
          padding: 0 24px;
          width: 100%;
          text-align: left;
          tr {
            th, td {
              padding: 16px 0;
            }
            th {
              text-align: right;
              padding-right: 10px;
            }
            td {
              padding-left: 10px;
              text-align: left;
            }
          }
        }
      }
      .selected-image{
        width:100%;
        text-align: center;
        i{
          font-size: 48px;
          padding: 50px 20px;
        }
      }
    }
  }
}